.playerContainer{
    width: 26.5rem;
    height: 100vh;
    padding: 3rem 4rem;

    background: var(--purple-500);
    color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    header{
        display: flex;
        align-items: center;
        gap: 1rem;

    }

    strong{
        font-family: Lexend, sans-serif;
        font-weight: 600;
    }

    footer{
        align-self: stretch;

        &.footerEmpty{
            opacity: 0.5;
        }
    }
}

.emptyPlayer{
    width: 98.5%;
    height: 20rem;
    border: 5px dashed var(--purple-300);
    border-radius: 1.5rem;
    background: linear-gradient(143.8deg,rgba(145,100,250,0.8) 0%,rgba(0,0,0,0) 100%);

    padding: 4rem;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.4s;
}

.emptyPlayer:hover{
    height: 21rem; 
    width: 100%;
    background: linear-gradient(143.8deg, rgb(128 90 218 / 80%) 0%, rgba(0, 0, 0, 0) 100%);
}

.progress{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.875rem;

    span{
        display: inline-block;
        width: 4rem;
        text-align: center;
    }

    .slider{
        flex: 1;
        .emptySlider{
            width: 100%; 
            height: 0.25rem;
            background: var(--purple-300);
            border-radius: 2px;
    
        }
    }
}

.btnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    gap: 1.5rem;

    button{
        background: transparent;
        border: 0;
        font-size: 0;

        &.playButton{
            width: 4rem;
            height: 4rem;
            border-radius: 1rem;
            background-color: var(--purple-400);
        }
    }
}